@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popping", sans-serif;
}

section {
    border: 0;
    box-shadow: 0 0 10´x 0 rgba(149, 184, 209, .5);
    border-radius: 10px;
    width: 65%;
    margin: 0;
    padding: 5%;
    display: flex;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}



form {

    flex-direction: column;
    gap: 15px;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
}

input {
    border: 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #333333;
    color: #fff;
    font-weight: 600px;
    font-size: 1.1rem;
    outline: 0;
    width: 90;

}

.Nome {
    justify-content: space-between;
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.nome-completo {
    justify-content: space-between;
    display: flex;
    width: 300px;
    margin-top: 10px;

}

.digitos-do-cartao {
    justify-content: space-between;
    display: flex;
    width: 300px;
    margin-top: 10px;
}

.numero {
    width: 80px;
    margin-top: 10px;
}

.cvc {

    margin: 5px;
    margin-top: 10px;

}

.data {
    width: 80px;
    margin-top: 10px;

}





body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

.container {
    margin-left: auto;
    background: linear-gradient(45deg, rgb(82, 82, 90) 0%, rgb(25, 44, 49) 35%, rgb(156, 161, 161) 100%);
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 150%;
    box-shadow: 0 5px 10px rgba (0, 0, 0, 0.1);
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo img {
    width: 48px;
    margin-right: 10px;
}

h5 {
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
}



.chip {
    width: 66px;
    height: 50px;
    position: relative;
    left: 87%;
    bottom: -25px;
}

h6 {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

.numero-do-cartao {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}


.card-detalhes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.button {
    margin-top: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 80px;

    background: #42d3ff;
    border-radius: 0.6rem;

    cursor: pointer;

    border: none;

    font-weight: 700px;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #121212;

    transition: filter 0.3s;
}

form button:hover {
    filter: brightness(1.1);
}




@media (max-width: 1024px) {
    section {
        flex-direction: column-reverse;
    }

    .container-left,
    .container-right {
        width: 100%;
    }
}